.button
{
    -fx-border-style: solid solid solid hidden;
    -fx-border-color: black;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-background-color: white;
}

.button:hover
{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;

}

#titulo {
    -fx-background-color: white;
    -fx-border-width: 4 0 4 0;
    -fx-border-color: black;
}

#navControlador {
    -fx-background-color: white;
    -fx-border-width: 0 4 0 0;
    -fx-border-color: black;
}

#ingresar{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 3px
}

#presentacion 
{
    -fx-border-color: black;
    -fx-border-width: 0px 3px 3px 3px;
    -fx-background-color: #4568dc;
    -fx-background-color: linear-gradient(to right, #4568dc, #b06ab3);
}