.button 
{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 3;
    -fx-background-insets: 0;
}

.button:hover
{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-background-insets: 0;
}

.label 
{
    -fx-text-fill: white;
}

#informacion 
{
    -fx-background-color: black;
}

#aceptar 
{   
    -fx-background-color: rgb(139, 134, 134);
}
